<% unless comments.empty? %>
  <h4>Comments</h4>
  <div class='comment'>
    <% comments.each do |comment| %>
      <div class='comments'>
        Username: <%= comment.author.name %>
        Comment: <%= comment.text %>
      </div>
    <% end %>
  </div>
<% end %>
<br />
